* {
    box-sizing: border-box;
}
body {
    /* background-color: beige; */
    background: linear-gradient(90deg, #DABF1C 0%, #DABF1C 13%, #C3B454 57%, #E2E096 100%);
}

h1 {
    background-color: hsl(60, 91%, 80%);

    width: 600px;
    height: 100px;
    text-align: center;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    line-height: 100px;
    border-radius: 10px;
    border: 3px solid black;
    font-size: 55px;
}

h2 {
    margin: auto;  
}

.beginner {
    /* background-color: #6cc841; */
    background: linear-gradient(0deg, #3E9629 0%, #58BB46 34%, #53B539 68%, #27960B 100%);
    margin-left: 640px;
    width: 80px;
    height: 40px;
}
.medium {
    /* background-color: #e8cb37; */
    background: linear-gradient(0deg, #A2A51A 0%, #D0CD4E 34%, #B3B94D 68%, #B3AF27 100%);
    width: 80px;
    height: 40px;
    
}
.expert {
    /* background-color: #ee1212; */
    background: linear-gradient(0deg, #9E1D11 0%, #DA7A5C 34%, #DA7E62 68%, #AD2222 100%);
    width: 80px;
    height: 40px;

}

.lives {
    float: left;
    position: absolute;
    left: 456px;
    top: 110px;
    /* margin-left: 371px; */
    /* margin-bottom: 50px; */
}


h3 {
    /* background-color: gray; */
    background: linear-gradient(88deg, #545451 0%, #9A9892 34%, #A0A09A 68%, #63635F 100%);

    width: 624px;
    height: 53px;
    text-align: center;
    margin: auto;
    margin-top: 15px;
    line-height: 50px;
    border-radius: 2px;
    border: 1px solid rgb(83, 80, 80);
}

p {
    background-color: black;
    width: 100px;
    height: 40px;
    text-align: center;
    color: white;
    font-size: 23px;
    border-radius: 6px;
    line-height: 40px;
}

.flags {
    position: absolute;
    top: 170px;
    /* left: 55px; */
    left: 460px; 
}

.timer {
    position: absolute;
    top: 170px;
    /* right: 55px; */
    right: 460px; 
}

.smiley {
    width: 50px;
    height: 50px;
    background-color: #A0A09A;
    border: none;
}

table {
    border: 2px solid gray;
    background-color: rgb(237, 237, 237);
    margin: auto;

}

td {
    border: 2px solid gray;
    background-color: rgb(164, 163, 163);
    /* background-color: #a4a3a3; */
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 18px;
    
}

td:hover {
    background-color: gray;
}

img.mine {
    width: 35px;
    height: 35px;
}

.shown {
    background-color: rgb(215, 212, 212);
}

.is-mine {
    background-color: #ee1212;
}

/* .flag {
    background-image: url(/img/flag.png)
} */

footer {
    margin-top: 50px;
    margin-left: 250px;
    background-color: darkblue;
    color: azure;
    width: 150px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 24px;
    border-radius: 8px;
}

