* {
    box-sizing: border-box;
}
body {
    /* background-color: beige; */
    background: linear-gradient(90deg, #DABF1C 0%, #DABF1C 13%, #C3B454 57%, #E2E096 100%);
    margin: 0;
   
}

body.active {
    background: linear-gradient(90deg, #373737 0%, #4e4e4d 13%, #676666 57%, #939391 100%);

}


.btn-drak {
    width: 40px;
    height: 20px;
    border: 2px solid #fff;
    border-radius: 60px;
    position: absolute;
    cursor: pointer;
    left: 5px;

}

.btn-drak::before {
    content: '';
    position: absolute;
    width: 18px;
    height: 18px;
    background-color: #fff;
    border-radius: 50%;
    top: 50%;
    left: 2px;
    transform: translateY(-50%);
    transition: left .5s ;


}

.btn-drak.active::before {
    left: 16px;

}

h1 {
    background-color: hsl(60, 91%, 80%);
    width: 600px;
    height: 100px;
    text-align: center;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    line-height: 100px;
    border-radius: 10px;
    border: 3px solid black;
    font-size: 55px;
}

h1.active {
    background-color: #2a2929;
    color: whitesmoke;
}

h2 {
    margin: auto;  
}

.best-time {
    background: linear-gradient(203deg, #3A3838 0%, #504D4D 15%, #D2CECE 100%);
    position: absolute;
    top: 132px;
    right: 70px;
    padding: 20px;
    width: 220px;
    text-align: center;
    border-radius: 70px;
    color: whitesmoke;
    border: 5px inset gray;
    font-size: 20px;
    font-family: 'Segoe UI';
    font-weight: bold;
    
}

.beginner {
    /* background-color: #6cc841; */
    background: linear-gradient(0deg, #3E9629 0%, #58BB46 34%, #53B539 68%, #27960B 100%);
    margin-left: 648px;
    width: 80px;
    height: 40px;
    cursor: pointer;
}
.medium {
    /* background-color: #e8cb37; */
    background: linear-gradient(0deg, #A2A51A 0%, #D0CD4E 34%, #B3B94D 68%, #B3AF27 100%);
    width: 80px;
    height: 40px;
    cursor: pointer;
    
}
.expert {
    /* background-color: #ee1212; */
    background: linear-gradient(0deg, #9E1D11 0%, #DA7A5C 34%, #DA7E62 68%, #AD2222 100%);
    width: 80px;
    height: 40px;
    cursor: pointer;

}

.lives {
    float: left;
    position: absolute;
    left: 456px;
    top: 110px;
    /* margin-left: 371px; */
    /* margin-bottom: 50px; */
}

.hints {
    float: right;
    position: absolute;
    right: 458px;
    top: 110px;
    cursor: pointer;
    /* margin-left: 371px; */
    /* margin-bottom: 50px; */
}

.safe-click {
    position: absolute;
    left: 100px;
    top: 158px;
    background-color: #4770eb;
    color: azure;
    padding: 10px;
    width: 220px;
    text-align: center;
    line-height: 50px;
    border-radius: 70px;
    border: 5px inset blue;
    font-size: 20px;
    font-family: 'Segoe UI';
    font-weight: bold;
    cursor: pointer;
}

.safe-click:hover {
 background-color: slateblue;
}

.safe {
    transition: 1s;
    background-color: #7896f1;
}

.undo {
    position: absolute;
    right: 70px;
    top: 270px;
    background-color: #e6a626;
    color: azure;
    padding: 10px;
    width: 220px;
    text-align: center;
    line-height: 50px;
    border-radius: 70px;
    border: 5px inset #ff1500;
    font-size: 20px;
    font-family: 'Segoe UI';
    font-weight: bold;
    cursor: pointer;
}

.undo:hover {
    background-color: #e49a05;
}

.mega-hint {
    position: absolute;
    right: 70px;
    top: 382px;
    background-color: #4dab79;
    /* background-color: #3ae61b; */
    color: azure;
    padding: 10px;
    width: 220px;
    text-align: center;
    line-height: 50px;
    border-radius: 70px;
    border: 5px inset #17ac06;
    font-size: 20px;
    font-family: 'Segoe UI';
    font-weight: bold;
    cursor: pointer;
}

.mega-hint:hover {
    background-color: #3f9d69;
}

.btn-manuallyState {
    position: absolute;
    left: 100px;
    top: 270px;
    background-color: #7d5d05;
    color: azure;
    padding: 10px;
    width: 220px;
    text-align: center;
    line-height: 50px;
    border-radius: 70px;
    border: 5px inset #8b7604;
    font-size: 20px;
    font-family: 'Segoe UI';
    font-weight: bold;
    cursor: pointer;

}

.btn-manuallyState:hover {
    background-color: #a47a06
}

.seven-boom {
    position: absolute;
    left: 100px;
    top: 382px;
    background-color: #d20505;
    color: azure;
    padding: 10px;
    width: 220px;
    text-align: center;
    line-height: 50px;
    border-radius: 70px;
    border: 5px inset #940606;
    font-size: 20px;
    font-family: 'Segoe UI';
    font-weight: bold;
    cursor: pointer;
}

.seven-boom:hover {
    background-color: #f91616;
}

.exterminator {
    position: absolute;
    left: 100px;
    top: 494px;
    background-color: #b109b1;
    color: azure;
    padding: 10px;
    width: 220px;
    text-align: center;
    line-height: 50px;
    border-radius: 70px;
    border: 5px inset #8409b1;
    font-size: 20px;
    font-family: 'Segoe UI';
    font-weight: bold;
    cursor: pointer;
}

.exterminator:hover {
    background-color: #dc22dc;
}

h3 {
    /* background-color: gray; */
    background: linear-gradient(88deg, #545451 0%, #9A9892 34%, #A0A09A 68%, #63635F 100%);

    width: 624px;
    height: 53px;
    text-align: center;
    margin: auto;
    margin-top: 15px;
    line-height: 50px;
    border-radius: 2px;
    border: 1px solid rgb(83, 80, 80);
}

p {
    background-color: black;
    width: 100px;
    height: 40px;
    text-align: center;
    color: white;
    font-size: 23px;
    border-radius: 6px;
    line-height: 40px;
}

.flags {
    position: absolute;
    top: 170px;
    /* left: 55px; */
    left: 460px; 
}

.timer {
    position: absolute;
    top: 170px;
    /* right: 55px; */
    right: 460px; 
}

.smiley {
    width: 50px;
    height: 50px;
    background-color: #A0A09A;
    border: none;
    cursor: pointer;
}

table {
    border: 2px solid gray;
    background-color: rgb(237, 237, 237);
    margin: auto;

}

td {
    border: 2px solid gray;
    background-color: rgb(164, 163, 163);
    /* background-color: #a4a3a3; */
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 18px;
    
}

td:hover {
    background-color: gray;
}

img.mine {
    width: 35px;
    height: 35px;
}

.shown {
    background-color: rgb(215, 212, 212);
}

.is-mine {
    background-color: #ee1212;
}

/* .flag {
    background-image: url(/img/flag.png)
} */

footer {
    margin-top: 170px;
    margin-left: 130px;
    background-color: darkblue;
    color: azure;
    width: 150px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 24px;
    border-radius: 8px;
}

#moon {
    /* background-color: white; */
    color: black;
    width: 10px;
    height: 10px;
}


